# ----------------------
# Flask
# ----------------------
flask
flask-sqlalchemy
blinker

# ----------------------
# Testing
# ----------------------
mock


# ----------------------
# Production Server
# ----------------------
gunicorn

#----------------------
# Vowel Dependencies
#----------------------
requests
flask-mail
itsdangerous
passlib
flask-login
flask-wtf
wtforms
raven

#---------------------
# Dev Depedencies
#---------------------
bpython
flask-debugtoolbar
fabric
