# ----------------------
# Flask
# ----------------------
flask
flask-sqlalchemy
blinker

# ----------------------
# Testing
# ----------------------
mock


# ----------------------
# Production Server
# ----------------------
gunicorn

#----------------------
# Vowel Dependencies
#----------------------
flask-security
requests

#---------------------
# Dev Depedencies
#---------------------
bpython
flask-debugtoolbar
