.header {
    line-height: 50px;
    font-size: 25px;
}

.link input[type=text] {
    background: transparent;
}

.link-submit.js .help-text {
    margin-top: 10px;
}

.link label {
    display: inline-block;
    margin-right: 10px;
}

.link input {
    display: inline-block;
}

.link-submit {
    margin-bottom: 50px;
}

.link-submit.js .url-wrapper {
    border-bottom: 2px solid #b0b0b0;
    min-width: 200px;
    width: 50%;
    margin: 0 auto;
}

.link-submit.js #url {
    border: none;
    font-size: 24px;
    margin-bottom: 0;
    text-align: center;
    font-style: italic;
    width: 80%;
}

.link-submit.js #url:focus {
    outline: none;
    box-shadow: none;
}


.link-submit.js .input-status {
    content: '➡';
    font-size: 32px;
    color: #b0b0b0;
    background: rgba(255, 255, 255, 1);
    padding: 0 5px;
    display: inline-block;
    line-height: 40px;
}

.link-submit.js .input-status:hover {
    color: black;
    cursor: pointer;
}

.link-submit.js .js-hide, .link-submit.js label {
    display: none;
}

.link-submit.js p, .link-submit.js form {
    margin-bottom: 0;
}
