{% extends "base.html" %}

{% block js %}
    <script type="text/javascript" src="/static/js/index.js"></script>
{% endblock %}

{% block css %}
    <link href="/static/css/home.css" rel="stylesheet">
{% endblock %}

{% from "_form_helpers.html" import render_field %}
{% block main %}
    <div class="row header">
        <div class="two columns logo text-center">Vowel</div>

        <div class="eleven columns text-center top-links">
            <span class="active" id="inbox">Inbox</span>
            <span id="sent">Sent</span>
        </div>

        <div class="two columns username text-center">{{ user.get_name() }}</div>
    </div>

    <div class="row sixteen columns link-submit">
        <form class="link text-center" method="POST" action={{ url_for('home') }}>
            {{ form.hidden_tag() }}
            <div class="url-wrapper">
                <input autocomplete="off" type="text" id="url" name="url" placeholder="Paste URL" />
            </div>
            {{ render_field(form.friend, "js-hide") }}
            <input class="js-hide" type="submit" name="submit" value="Submit" />
        </form>
        <hr class="js-hide">
        <div class="help-text text-center">
            Send an article to a friend.
        </div>
    </div>

    <div class="row list-links">
        {% for share in shares %}
        <div class="article">
            <a href="/article/{{ share.article.id }}"><h1>{{ share.article.title }}</h1></a>
            <p>{{ share.article.text[:252] }}...</p>
            <div class="row">
                Sent by <span class="sent-by">{{ share.originator.get_name() }}</span>
                via <span class="website">{{ share.article.get_domain() }}</span>
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}
